@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  /* Set to white */
  --background-end-rgb: 255, 255, 255;
  /* Set to white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  color: black;
  font-family: __Montserrat_b1da2a, __Montserrat_Fallback_b1da2a;
  font-style: normal;
}

.py-\[64px\] {
  padding-top: 64px;
}

.product-sections {
  min-height: 685px;
  /* margin-top: 48px; */
}

.last-product {
  margin-bottom: 48px;
}

.border-light-blue2 {
  --tw-border-opacity: 1;
  border-color: rgb(232 244 255 / var(--tw-border-opacity));
}

.shadow-enrollBox,
.shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-enrollBox {
  --tw-shadow: 0px 0px 5px 0px #0000001a;
  --tw-shadow-colored: 0px 0px 5px 0px var(--tw-shadow-color);
}

.my-\[16px\] {
  margin-top: 16px;
  margin-bottom: 16px;
}

.underline {
  height: 2px;
  width: 48px;
}

.dot,
.underline {
  display: block;
  --tw-bg-opacity: 1;
  background-color: rgb(61 155 233 / var(--tw-bg-opacity));
}

.underline {
  text-decoration-line: underline;
}

.center {
  width: 100%;

  background-image: 'url("/layer1.png")';
  background-size: 'contain';
  background-position: 'center';
}

.center-text {
  font-size: 80px;
}

.partition {
  width: 50%;
}

.mid-size-text {
  font-size: 32px;
}

.small-text {
  font-size: 16px;
}

.small-text-title {
  font-size: 20px;
}

.partition.small-text ul li {
  position: relative;
}

.partition.small-text ul li .dot {
  position: absolute;
  top: 17%;
  left: -20px;
}

.input-sizing {
  width: 301px;
  height: 48px;
}

.rounded-5 {
  border-radius: 5px;
}

.bottom-n20 {
  bottom: -20%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .product-sections {
    height: fit-content;
  }

  .partition {
    width: 95%;
  }

  .lg\:mt-a {
    margin-top: 1.25rem;
  }

  .small-text {
    font-size: 14px;
  }

  .small-text-title {
    font-size: 18px;
  }

  .mid-size-text {
    font-size: 25px;
  }

  .center-text {
    font-size: 40px;
  }
}