@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 255, 255, 255;
  /* Set to white */
  --background-end-rgb: 255, 255, 255;
  /* Set to white */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

.product-sections{
  height: 605px;
}

.shadow-enrollBox, .shadow-md {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.my-\[16px\] {
  margin-top: 16px;
  margin-bottom: 16px;
}

.underline {
  height: 2px;
  width: 48px;
}

.dot, .underline {
  display: block;
  --tw-bg-opacity: 1;
  background-color: rgb(61 155 233 / var(--tw-bg-opacity));
}

.underline {
  text-decoration-line: underline;
}
.center {
  width: 100%;

  background-image: 'url("/layer1.png")';
  background-size: 'contain';
  background-position: 'center';
}

.center-text {
  font-size: 80px;
}

.partition {
  width: 50%;
}

.mid-size-text {
  font-size: 32px;
}

.small-text {
  font-size: 16px;
}

.small-text-title {
  font-size: 20px;
}

.partition.small-text ul li {
  position: relative;
}

.partition.small-text ul li .dot {
  position: absolute;
  top: 17%;
  left: -20px;
}

.input-sizing {
  width: 301px;
  height: 48px;
}



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@media (max-width: 768px) { 
  .product-sections{
  height: fit-content;  
  }

  .partition{
    width: 95%;
  }

  .lg\:mt-a {
    margin-top: 1.25rem; 
  }
 }

